* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
public/admin/cork-responsive-admin-dashboard-template.zip filter=lfs diff=lfs merge=lfs -text
